:root {
    --color-orange: #ff9600;
    --color-grey-ligth: #f3efee;
    --color-grey: #d8d9db;
    --color-grey-dark: #1a213b;
    --color-white: #ffffff;
    --color-black: #1d1d1b;
}

* {
    font-family: "Segoe UI Adjusted","Segoe UI","Liberation Sans",sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    user-select: none;
}

body {
    margin: 0;
    display: grid;
    min-height: 100vh;
    background: var(--color-grey);
}
main {
    grid-area: B;
    display: grid;
    overflow: hidden;
}
aside {
    grid-area: A;
    background: var(--color-grey-dark);
    color: var(--color-white);
    width: 200px;
}
aside button {
    color: var(--color-white);
}
footer {
    grid-area: C;
    text-align: center;
    line-height: 30px;
    position: relative;
}

.layout {
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr;
    grid-template-areas: "A D" "A B" "A C";
}
.login_layout {
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr auto;
    grid-template-areas: "B" "C";
}

.divider {
    justify-self: center;
    width: 0;
    border: solid 1px var(--color-orange);
}

.lodmc {
    display: grid;
    grid-template-columns: 1fr 10px 1fr 10px 1fr 10px 1fr;
    padding: 10px;
}
.lodmh {
    grid-area: D;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.lodm {
    grid-template-rows: 40px 1fr;
}
.loda {
    position: sticky;
    height: 100vh;
    top: 0;
    display: grid;
    grid-template-rows: auto auto auto 70px 1fr auto;
    align-items: center;
}
.loca {
    position: sticky;
    height: 100vh;
    top: 0;
    display: grid;
    grid-template-rows: auto auto auto 1fr auto;
    align-items: center;
}
.locfm {
    background: var(--color-grey-dark);
    display: grid;
    padding: 10px 20px;
    justify-items: center;
    align-items: center;
    border-radius: 0 5px 5px 0;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
.locf {
    display: grid;
    padding: 10px 20px;
    grid-template-rows: 1fr 40px 50px 40px 50px 40px 50px 80px 1fr;
    justify-items: center;
    align-items: center;
}
.locfd {
    background: var(--color-grey-ligth);
    border-radius: 5px;
    width: 70%;
    height: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.locm {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}


.pb {
    grid-area: A;
    width: 450px;
    transform: rotate(-90deg);
    position: fixed;
    left: 450px;
}
.adi {
    grid-area: C;
}
.column {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    height: 100%;
}
.ch {
    background: var(--color-orange);
    padding: 5px;
    font-size: large;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
}
.portlet {
    background: var(--color-grey-ligth);
    color: var(--color-black);
    border-radius: 5px;
    padding: 5px;
}
.portlet-placeholder {
    background: transparent;
    border-radius: 5px;
    padding: 5px;
    border: 1px dotted black;
    height: 50px;
}
hr {
    border: solid 1px var(--color-grey);
}
.an {
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center;
    line-height: 50px;
    font-size: medium;
    margin: 10px 0;
}
.an:hover {
    color: var(--color-orange);
}
.an:hover > .ni {
    color: var(--color-orange);
    filter: drop-shadow(1px 1px 3px var(--color-orange));
}

.an:active {
    transition: all 0.2s linear;
    transform: translateY(1px);
}

.ni {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-grey-ligth);
    color: var(--color-black);
    height: 45px;
    width: 45px;
    border-radius: 50%;
    font-size: medium;
    margin: 0 10px;
}

.pn {
    cursor: pointer;
}
.pn:hover {
    color: var(--color-orange);
}
.portlet span {
    margin-right: 10px;
}
.ps {
    display: flex;
    justify-content: left;
    align-items: center;
    line-height: 30px;
}
.icon {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-grey-dark);
    color: var(--color-white);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    font-size: small;
}
.tag {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-orange);
    color: var(--color-white);
    height: 25px;
    width: 40px;
    padding: 0 5px;
    border-radius: 5px;
    font-size: small;
}
.dd {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: auto;
    box-shadow: inset 2px 2px 20px 0 rgba(0, 0, 0, 0.5);
}
.ddh {
    background: var(--color-orange);
}
.pd {
    opacity: 0.5;
    width: 200px !important;
    height: auto !important;
}
.ab {
    height: 30px;
    width: 30px;
}

.logo {
    display: flex;
    color: var(--color-orange);
    font-weight: bold;
    padding: 5px 10px;
    line-height: 30px;
}
.logo img {
    width: 30px;
    height: 30px;
    padding-right: 5px;
}

.header {
    position: sticky;
    top: 0;
}
.menu {
    width: 180px;
    height: 40px;
    margin: 2px 10px;
    font-size: medium;
}


.lf {
    align-self: center;
    justify-self: center;
    width: 400px;
    height: 450px;
    border-radius: 5px;
}
.lfs {
    background: var(--color-grey-dark);
    color: var(--color-white);
    transform: translateY(-60px);
    transition: .8s ease-in-out;
}
.lfl {
    background: var(--color-grey-ligth);
    color: var(--color-blacks);
}

.lfl .lfc {
    grid-template-rows: 20px 40px 60px 60px 40px;
}
.lfs .lfc {
    grid-template-rows: 0 40px 60px 60px 60px 40px;
}

.lfc {
    padding: 10px;
    display: grid;
    align-items: center;
    justify-items: center;
    height: calc(100% - 140px);
}
.lfh {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 60px;
}

.ll{
    width: 400px;
    text-align: center;
    line-height: 60px;
}
.li {
    width: 250px;
}
.lb {
    width: 100px;
    height: 30px;
}

input {
    background: var(--color-grey);
    color: var(--color-black);
    padding: 5px;
    border-radius: 5px;
    line-height: 30px;
    outline: none;
    border: none;
    box-shadow: inset 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
}

button {
    display: inline-block;
    border-radius: 5px;
    letter-spacing: 0.05em;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    padding: 5px 10px;
    line-height: 20px;
}
.b1 {
    background: var(--color-orange);
}
.b2 {
    background: var(--color-orange);
}
.b3 {
    background: transparent;
}
.b {
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
.b:hover {
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.7);
}
.b:active {
    transform: translateY(1px);
    box-shadow: inset 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
.bi:hover {
    box-shadow: inset 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
.bi:active {
    transform: translateY(1px);
    box-shadow: inset 2px 2px 4px 0px rgba(0, 0, 0, 0.7);
}

.s {
    box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.25);
}
.si {
    box-shadow: inset 2px 2px 20px 0 rgba(0, 0, 0, 0.5);
}

#chk:checked ~ .lfs {
	transform: translateY(calc(-100% + 60px));
}