<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>FB</title>
	<link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../static/css/jquery-ui.min.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<script src="../static/js/jquery-3.6.4.min.js"></script>
	<script src="../static/js/jquery-ui.min.js"></script>
	<script src="../static/js/desk.js"></script>
</head>

<body class="layout">
	<aside class="si loda">
		<div class="logo">
			<img src="../static/img/logo.svg">
			FlowBoard
		</div>
		<button class="b3 bi menu">
			Home
		</button>
		<button class="b3 bi menu">
			Team
		</button>
		<div class="add dd">
			<img src="../static/img/grid_w.svg" class="ab">
		</div>
		<br>
		<div class="an">
			<span class="ni" id="name_i">NS</span>
			<span id="name">Name Surname</span>
		</div>
	</aside>
	<header class="lodmh header">
		<div class="ch">
			ToDo
		</div>
		<div class="ch">
			In progress
		</div>
		<div class="ch">
			Review
		</div>
		<div class="ch">
			Done
		</div>
	</header>
	<main class="lodmc">
		<div class="column" id="td"></div>
		<div class="divider"></div>
		<div class="column" id="pr"></div>
		<div class="divider"></div>
		<div class="column" id="re"></div>
		<div class="divider"></div>
		<div class="column" id="do"></div>
	</main>
	<footer>
		©2023 Byte Busters | All Rights Reserved
	</footer>
</body>

</html>