<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>FB</title>
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/jquery-3.6.4.min.js"></script>
    <script src="../static/js/login.js"></script>
</head>
<body class="login_layout">
    <main class="lf s">
        <input type="checkbox" id="chk" style="display: none;">
        <form id="llf" class="lf lfl">
            <div class="lfh">
                <label for="chk" class="ll"><h2>Log In</h2></label>
            </div>
            <div class="lfc">
                <br>
                <p>login here using your email and password</p>
                <input class="li" type="email" id="lg" placeholder="Email" required>
                <input class="li" type="password" id="pwd" placeholder="Password" required>
                <div>
                    <button class="b3" disabled>Forgot Password</button>
                    <button class="b b1 lb">Log In</button>
                </div>
            </div>
        </form>
        <form class="lf lfs">
            <div class="lfh">
                <label for="chk" class="ll"><h2>Sing up</h2></label>
            </div>
            <div class="lfc">
                <br>
                <p>sing up with your and password</p>
                <input class="li" type="email" id="lg1" placeholder="Email" required>
                <input class="li" type="password" id="pwd1" placeholder="Password" required>
                <input class="li" type="password" id="pwd2" placeholder="Repeat password" required>
                <div>
                    <button class="b b2 lb">Sing up</button>
                </div>
            </div>
        </form>
    </main>
    <footer>
        ©2023 Byte Busters | All Rights Reserved
    </footer>
    <script>

    </script>
</body>
</html>